.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 6rem;
  text-align: center;
}
.main h1 {
  margin:25px 0;
}
.form {
  margin:5px 0;
  
}
.list {
  margin:25px 0;
}
.list li {
  margin: 25px 0;
  font-size: 20px;
}